{% extends 'base.html.twig' %}

{% block title %}FingPey!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; width: 100%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper" style="text-align: center;">
    <a href="/"><img src="https://fingpey.s3.amazonaws.com/Fondo.png" alt="logo"></a>
</div>
{% endblock %}
